@media screen and (max-width: 576px) {
  #recipesList {
    display: flex;
    flex-direction: column;
  }
}

.recipe {
  display: flex;
  justify-content: space-between;
  .recipeTitle,
  .time,
  .description {
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    margin: 0;
  }

  .ingredientsList {
    padding: 0px;
    margin: 0px;
  }
  .eachIngredient {
    margin-top: 10px;
  }
  .timeAndDescription {
    width: 40%;
  }
  .description {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }
  .ingredients {
    display: flex;
    flex-direction: column;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    align-items: flex-start;
    margin: 0;
  }
  .recipeAndIngredients {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
}
